{{#is "post"}}
    <aside class="gh-article-sidebar" style="position: absolute; left: 40px; top: 120px; width: 250px; padding: 20px; display: flex; flex-direction: column; align-items: flex-start; background: #fff; z-index: 100;">
        <div class="gh-author-image-list" style="display: flex; margin-left: 0;">
            {{#foreach authors}}
                <a class="gh-author-image" href="{{url}}" style="position: relative; width: 64px; height: 64px; border-radius: 50%; overflow: hidden; margin-right: -16px;">
                    {{#if profile_image}}
                        <img src="{{profile_image}}" alt="{{name}}" style="width: 100%; height: 100%; object-fit: cover;">
                    {{else}}
                        <div class="gh-author-icon" style="width: 100%; height: 100%; background: #eee;">{{> icons/avatar}}</div>
                    {{/if}}
                </a>
            {{/foreach}}
        </div>

        <div class="gh-author-name-list" style="margin-top: 10px; text-align: left;">
            {{#foreach authors}}
                <h4 class="gh-author-name" style="margin: 0; font-size: 16px; font-weight: 600;">
                    <a href="{{url}}" style="color: #000; text-decoration: none;">{{name}}</a>
                </h4>
                {{#unless @last}},&nbsp;{{/unless}}
            {{/foreach}}
        </div>

        <div class="gh-article-meta" style="margin-top: 8px; text-align: left;">
            <div class="gh-article-meta-inner" style="display: flex; align-items: center; gap: 6px;">
                <time class="gh-article-date" datetime="{{date format="YYYY-MM-DD"}}" style="color: #666;">{{date}}</time>
                {{#if reading_time}}
                    <span style="color: #666;">•</span>
                    <span class="gh-article-length" style="color: #666;">{{reading_time minute="1 min" minutes="% min"}}</span>
                {{/if}}
            </div>
        </div>
    </aside>
{{/is}}